@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Rubik+Glitch&display=swap');

* {
    box-sizing: border-box;
    margin: 0;

}

body{
    background-color: black;
}
.navigation {
    background-color: black;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 42px 0px white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.first-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    color: red;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease-in-out .5s;
    background-color: none;
}

.logo:hover{
   color: whitesmoke;
   letter-spacing: 4px;
   border-radius: 10px;
   box-shadow: 0px 0px 38px red;
 
}
.navigation-list {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}

.navigation-list li{
    cursor: pointer;
    transition: ease-in-out .5s;
}

.navigation-list li:hover{
    color: grey;
}
.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
}

.wellcome {
    font-family: 'Rubik Glitch', cursive;
    text-align: center;
    margin-left: 2rem;
    font-size: 2rem;
    text-align: center;
    padding: 10rem 1rem 5rem 1rem;
    text-transform: uppercase;
    background-image:
        linear-gradient(-225deg,
            white 0%,
            black 12%,
            red 29%,
            #a15f46 67%,
            white 80%,
            white 100%);
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 6s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.start{
    padding: 0rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.774);
    font-size: 20px;
    font-weight: bold;
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 1rem 2rem;
}

.images img {
    width: 100%;
    border-radius: 4px;
    transition: ease-in-out .5s;
}

.images img:hover{
    filter: grayscale(100%);
    transform: scale(1.2);   
}
